# Dependencies
node_modules/
js/config.js

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment files (si agregas variables de entorno)
.env
.env.local
.env.production

# Variables de entorno
.env.local
.env

# Build artifacts
dist/
build/

